@font-face {
    font-family: "RokkittSemiBold-SemiBold";
    src: url("../src/fonts/RokkittSemiBold-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Peace Sans";
    src: url("../src/fonts/Peace Sans.otf");
}

body {
    margin: 0;
    background-image: url("../src/images/sky.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: #202124;
    cursor: url("../src/images/mouseIcon.png"), auto;
    animation: skyMove 20s linear infinite;
}

@keyframes skyMove {
    from {
        background-position: 0 center;
    }
    to {
        background-position: 1000px center;
    }
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background: radial-gradient(
        ellipse at center,
        rgba(0,0,0,0) 45%,
        rgba(0,0,0,0.45) 65%,
        rgba(0,0,0,0.65) 100%
    );

    pointer-events: none;
    z-index: -1;
}

.topbar {
    width: 100%;
    margin-bottom: 25px;
}

.topbar nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: #000;
    padding: 20px;

    border: 4px solid rgb(126,126,126);
    border-radius: 10px;
}

.topbar a {
    color: white;
    text-decoration: none;
    font-family: "RokkittSemiBold-SemiBold";
    font-size: 25px;
    transition: .2s;
}

.topbar a:hover {
    color: orange;
}

.Title {
    text-align: center;
    margin: 30px 15px;
}

.Title h1 {
    display: inline-block;
    font-family: "Peace Sans";
    font-size: clamp(32px, 6vw, 45px);
    color: rgb(255,225,0);
    text-align: center;

    -webkit-text-stroke: 1.5px black;
    text-shadow: 2px 2px 5px black;
}

.WoodyImage {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.WoodyImage img {
    width: min(650px, 80%);
    height: auto;
}

.conceptmisfitimage{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}
.conceptmisfitimage img {
    width: min(650px, 80%);
    height: auto;
}

.collabImage {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.collabImage img {
    width: min(650px, 80%);
    height: auto;
}

.WoodyImage2 {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.WoodyImage2 img {
    width: min(650px, 80%);
    height: auto;
}

.cutceneWork {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.cutceneWork img {
    width: min(750px, 80%);
    height: auto;
}

.subTitle,
.subTitle2,
.subTitle3,
.subTitle4,
.subTitle5,
.subTitle6,
.subTitle7,
.subTitle8,
.subTitle9,
.subTitle10{
    width: min(900px, 90%);
    margin: 60px auto;
}
.finalContainer{
    width: min(900px, 90%);
    margin: 60px auto;
    background-color: #000000;
}
.finalContainer h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: "RokkittSemiBold-SemiBold";
    font-size: clamp(30px, 5vw, 50px);
    margin-bottom: 20px;
}

.subTitle h2,
.subTitle2 h2,
.subTitle3 h2,
.subTitle4 h2,
.subTitle5 h2,
.subTitle6 h2,
.subTitle7 h2,
.subTitle8 h2,
.subTitle9 h2, 
.subTitle10 h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: "RokkittSemiBold-SemiBold";
    font-size: clamp(30px, 5vw, 50px);
    margin-bottom: 20px;
}

.subTitle h3,
.subTitle2 h3,
.subTitle3 h3,
.subTitle4 h3,
.subTitle5 h3,
.subTitle6 h3,
.subTitle7 h3,
.subTitle8 h3,
.subTitle9 h3,
.subTitle10 h3 {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: "RokkittSemiBold-SemiBold";
    font-weight: normal;
    font-size: clamp(18px, 2.3vw, 24px);
    line-height: 1.6;
    text-align: left;
    margin: 10px 0;
}

.Title,
.WoodyImage,
.subTitle,
.subTitle2 {
    opacity: 0;
    transform: scale(.8);
    animation: fadeScale 1s ease forwards;
}

.Title {
    animation-delay: 0s;
}

.WoodyImage {
    animation-delay: .15s;
}

.subTitle {
    animation-delay: .35s;
}

.subTitle2 {
    animation-delay: .55s;
}

.subTitle3 {
    animation-delay: .75s;
}
.subTitle4 {
    animation-delay: .85s;
}

@keyframes fadeScale {
    from {
        opacity: 0;
        transform: scale(.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


a {
    cursor: pointer;
}

button {
    cursor: url("../src/images/cursor.png"), auto;
}

.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 18px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background-image:
        radial-gradient(
            ellipse,
            rgba(0,0,0,0) 20%,
            rgba(0,0,0,0.7) 100%
        ),
        url("../src/images/sky.png");

    background-size: cover;
    background-position: center;

    border: 2px solid black;
    border-radius: 10px;
}



@media (max-width: 768px) {

    .topbar nav {
        flex-direction: column;
        gap: 12px;
        padding: 15px;
    }

    .topbar a {
        font-size: 22px;
    }

    .Title {
        margin-top: 20px;
    }

    .WoodyImage img {
        width: 180px;
    }

    .subTitle,
    .subTitle2 {
        width: 95%;
        margin: 40px auto;
    }

    .subTitle h3,
    .subTitle2 h3 {
        text-align: center;
    }
}
.videoEmbed {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.videoEmbed iframe {
    width: 900px;
    max-width: 90%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    border: 4px solid black;
}